# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# DO NOT upload on GitHub! big file!
*.tsv

# user-specific toWatchList not updated.
*.txt

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
